<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bop">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SessionDetailsActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SaveTrackedActivity"
            android:parentActivityName=".EndTrackingActivity" />
        <activity android:name=".EndTrackingActivity" />
        <activity android:name=".TrackingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BopProvider"
            android:authorities="com.example.bop"
            android:exported="true"
            android:multiprocess="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="{hidden}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
